name: Test the PyPi install weekly

on:
  schedule:
    - cron: "0 0 * * 1,3,5" #“At 00:00 on Monday, Wednesday, and Friday.” https://crontab.guru/#0_0_*_*_1,3,5
  workflow_dispatch:

jobs:  
  test_pypi:
    strategy:
        fail-fast: false
        matrix:
          os: [ubuntu-latest]
          python: ['3.8', '3.9', '3.10']
    # The type of runner that the job will run on
    runs-on:  ${{ matrix.os }}

    # Define job steps
    steps:
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python }}

    - name: Check-out repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Install OpenQAOA
      run: |
        pip install openqaoa
        python -c 'from openqaoa._version import __version__; print(__version__)'
